<div class="row">
    <div class="row">
        <form class="navbar-form form-inline input-group">

            <div class="col-3">
                <%= select_tag "category", options_from_collection_for_select(@categories, "id", "name"), class: "custom-select", include_blank: "Category" %>
            </div>

            <div class="col-3">
                <%= select_tag "condition", options_from_collection_for_select(@conditions, "id", "name"), class: "custom-select", include_blank: "Condition" %>
            </div>

            <div class="col-3">
                <button type="submit" name="filter" class="btn btn-primary raised">Filter</button>
            </div>

            <div class="col-3">
                <% if user_signed_in? %>
                <%= link_to "New Listing", new_listing_path,  {class: "btn new-listing btn-attention raised", :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'} %>
            <% else %>
                <%= link_to "New Listing", new_user_session_path, class: "btn new-listing btn-attention raised" %>
                <% end %>
            </div>
        </form>
    </div>
</div>
<div class="card-deck">
    <%= render 'listing' %>
</div>

<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Listing</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>
