<h1><%= @listing.title %></h1>

<p><%= @listing.description %></p>
<p>Offer Price: $<%= @listing.price %></p>
<p>End Date: <%= @listing.expiration.strftime("%A %b %d %Y") %></p>
<p>Time remaining:  <%= "#{(@listing.expiration > Time.now.utc ) ? "#{time_ago_in_words(@listing.expiration)}" : 'Expired'}" %></p>

<% if @listing.image.present? %>
  <%= image_tag @listing.image %><br />
<% end %>

<% if user_signed_in? %>
  <% if current_user.id == @listing.user.id %>
    <%= link_to "Edit", edit_listing_path %> | <%= link_to "Delete", listing_path, data: { confirm: "Are you sure" }, method: :delete %><br />
  <% end %>
<% end %>

<%= link_to 'Back', root_path %>
