<h1><%= @listing.title %></h1>

<p><%= @listing.description %></p>
<p>Offer Price: $<%= @listing.price %></p>
<p>End Date: <%= @listing.expiration.strftime("%A %b %d %Y") %></p>
<p>Time remaining:  <%= "#{(@listing.expiration > Time.now.utc ) ? "#{time_ago_in_words(@listing.expiration)}" : 'Expired'}" %></p>

<% if @listing.image.present? %>
  <%= image_tag @listing.image %><br />
<% end %>

<% if !@listing.seller_id.present? %>
  <% if user_signed_in? %>
    <% if current_user.id == @listing.user.id %>
      <%= link_to "Edit", edit_listing_path %> | <%= link_to "Delete", listing_path, data: { confirm: "Are you sure" }, method: :delete %><br />
    <% end %>

    <% if !@listing.offers.pluck(:seller_id).include?(current_user.id) && @listing.user.id != current_user.id %>
      <%= form_for @offer do |f| %>
        <%= f.hidden_field :listing_id, value: @listing.id %>
        <%= f.hidden_field :seller_id, value: current_user.id %>
        <%= f.submit %>
      <% end %>
    <% end %>

  <% end %>

  <% @listing.offers.each do |offer| %>
    <% if offer.seller.first_name.present? %>
      <p><%= link_to offer.seller.first_name, offer.seller %></p>
    <% else %>
      <p><%= link_to "Seller", offer.seller %></p>
    <% end %>
    <% if user_signed_in? %>
      <% if @listing.user.id == current_user.id %>
        <%= form_for @listing do |f| %>
          <%= f.hidden_field :seller_id, value: offer.seller.id %>
          <%= f.submit "Accept" %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <%= link_to "Seller Page", (User.where("id = ?", @listing.seller_id).to_a).first %><br />
<% end %>

<%= link_to "Listing Owner", @listing.user %><br />

<%= link_to 'Back', root_path %>
