<% if user_signed_in? %>
  <% if current_user.buyer_listings.where('seller_id = ?', @user) != [] %>
    <%= link_to "Review", new_user_review_path(@user) %>
  <% end %>
<% end %>
<div>
  <% @user.buyer_listings.order('created_at DESC').each do |listing| %>
    <%= image_tag listing.image.url(:thumb) %>
    <%= link_to listing.title, listing %>
  <% end %>
</div>

<div>
  <% @user.seller_reviews.each do |review| %>
    <%= review.title %><br />
    <%= review.description %><br />
    <%= link_to "Reviewer", review.buyer %><br />
    <% if user_signed_in? %>
      <% if current_user.buyer_listings.where('seller_id = ?', @user) != [] %>
        <%= link_to "Edit", edit_user_review_path(@user, review) %> | <%= link_to "Destroy", user_review_path(@user, review), data: { confirm: "Are you sure" }, method: :delete %>
      <% end %>
    <% end %>
  <% end %>
</div>

<%= link_to 'Edit', edit_user_registration_path(@user) %>
