<div class="card">
  <div class="card-block">
    <h4 class="card-title"><%= @user.first_name + ' ' + @user.last_name %></h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>

<h1></h1>






<% if user_signed_in? %>
  <% if current_user.buyer_listings.where('seller_id = ?', @user) != [] %>
    <%= link_to "Review", new_user_review_path(@user) %>
  <% end %>
<% end %>
<div>
  <% @user.buyer_listings.order('created_at DESC').each do |listing| %>
    <%= image_tag listing.image.url(:thumb) %>
    <%= link_to listing.title, listing %>
  <% end %>
</div>

<div>
  <% @user.seller_reviews.each do |review| %>
    <%= review.title %><br />
    <%= review.description %><br />
    <%= link_to "Reviewer", review.buyer %><br />
    <% if user_signed_in? %>
      <% if current_user.buyer_listings.where('seller_id = ?', @user) != [] %>
        <%= link_to "Edit", edit_user_review_path(@user, review) %> | <%= link_to "Destroy", user_review_path(@user, review), data: { confirm: "Are you sure" }, method: :delete %>
      <% end %>
    <% end %>
  <% end %>
</div>

<%= link_to 'Edit', edit_user_registration_path(@user) %>
