<%= @user.first_name + ' ' + @user.last_name %><br />
<%= image_tag @user.avatar.url(:thumb) %>
<div class="star-rating" data-score= <%= @avg_review %> ></div>
<em><%= "#{@reviews.length} reviews" %></em><br />
<% if user_signed_in? %>
  <% if @user.buyer_listings.where('seller_id = ?', current_user) != [] || @user.seller_listings.where('buyer_id = ?', current_user) != [] %>
    <% if @listing > @review %>
      <%= link_to "Review", new_user_review_path(@user) %>
    <% elsif @listing1 > @review %>
      <%= link_to "Review", new_user_review_path(@user) %>
    <% end %>
  <% end %>
<% end %>
<div>
  <h2>All Listings</h2>
  <% @user.buyer_listings.order('created_at DESC').each do |listing| %>
    <%= image_tag listing.image.url(:thumb) %>
    <%= link_to listing.title, listing %>
  <% end %>
</div>

<div>
  <h2>Sold Listings</h2>
  <% @user.seller_listings.order('created_at DESC').each do |listing| %>
    <%= image_tag listing.image.url(:thumb) %>
    <%= link_to listing.title, listing %>
  <% end %>
</div>

<div>
  <h2>Reviews</h2>
  <% @user.seller_reviews.each do |review| %>
    <%= review.title %><br />
    <%= review.description %><br />
    <%= link_to "Reviewer", review.buyer %><br />
    <% if user_signed_in? %>
      <% if @user.buyer_listings.where('seller_id = ?', current_user) != [] || @user.seller_listings.where('buyer_id = ?', current_user) != [] %>
        <%= link_to "Edit", edit_user_review_path(@user, review) %> | <%= link_to "Destroy", user_review_path(@user, review), data: { confirm: "Are you sure" }, method: :delete %><br />
      <% end %>
    <% end %>
  <% end %>
</div>

<%= link_to 'Edit', edit_user_registration_path(@user) %>

<script>
  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>
