<div class="bg-solid">
    <div class="row">
        <div class="col-12 col-lg-6">
            <% if !@user.avatar_file_name.nil? %>
            <%= image_tag @user.avatar.url(:thumb), class: "user-avatar" %>
        <% else %>
            <img src="<%= asset_path("anonymous.jpg") %>" class="user-avatar"/>
            <% end %>
        </div>
        <div class="col-12 col-lg-6">
            <article class="float-left user-info">
                <h1 class="float-left"><%= @user.first_name + ' ' + @user.last_name %></h1><br />
                <div class="star-rating" data-score=<%= @avg_review %>></div>
                <em><%= pluralize(@reviews.length, "review") %></em><br/><br/>
                <div id="map" data-latitude="<%= @user.latitude %>" data-longitude="<%= @user.longitude%>"></div>
                <% if user_signed_in? %>
                <% if @user.buyer_listings.where('seller_id = ?', current_user) != [] || @user.seller_listings.where('buyer_id = ?', current_user) != [] %>
                <% if @listing > @review %>
                <%= link_to "Review", new_user_review_path(@user) %>
                <% elsif @listing1 > @review %>
                <%= link_to "Review", new_user_review_path(@user) %>
                <% end %>
                <% end %>
                <% end %>
            </article>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active user-tab" data-toggle="tab" href="#listings" role="tab">Listings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link user-tab" data-toggle="tab" href="#history" role="tab">History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link user-tab" data-toggle="tab" href="#reviews" role="tab">Reviews</a>
                </li>
            </ul>
        </div>
    </div>

  <div class="tab-content">
    <div class="tab-pane active" id="listings" role="tabpanel">
      <div class="card-deck">
        <% if !@user.buyer_listings.present? && !@user.seller_offers.present? %>
          <h4>No listings yet</h4>
        <% else %>
          <% @user.buyer_listings.order('created_at DESC').each do |l| %>
            <% if !l.seller_id.present? && l.expiration > Time.now %>
              <div class="card usercard">
                <%= image_tag l.image.url(:medium), class: "card-img-top img-responsive" %>
                <div class="card-block">
                  <h4 class="card-title">$ <%= l.price %> <%= truncate(l.title, length: 10) %></h4>
                  <p class="card-text"><%= link_to "Listing Owner", user_path(l.buyer_id) %></p>
                  <%= link_to "More Info", l, class: "btn btn-primary" %>
                </div>
                <div class="card-footer">
                  <small class="text-muted"><%= l.expiration.strftime("Expires on %m/%d/%Y" + " at %I:%M%p") %></small>
                </div>
              </div>
            <% end %>
          <% end %>
          <% @user.seller_offers.order('created_at DESC').each do |l| %>
            <% if !l.listing.seller_id.present? && l.listing.expiration > Time.now %>
              <div class="card usercard">
                <%= image_tag l.listing.image.url(:medium), class: "card-img-top img-responsive" %>
                <div class="card-block">
                  <h4 class="card-title">$ <%= l.listing.price %> <%= truncate(l.listing.title, length: 10) %></h4>
                  <p class="card-text"><%= link_to "Listing Owner", user_path(l.listing.buyer_id) %></p>
                  <%= link_to "More Info", l.listing, class: "btn btn-primary" %>
                </div>
                <div class="card-footer">
                  <small class="text-muted"><%= l.listing.expiration.strftime("Expires on %m/%d/%Y" + " at %I:%M%p") %></small>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="tab-pane" id="history" role="tabpanel">
      <div class="card-deck">
        <% if !@user.seller_listings.present? && !@user.buyer_listings.present? %>
          <h4>No history yet</h4>
        <% else %>
          <% @user.seller_listings.order('created_at DESC').each do |l| %>
            <% if l.seller_id.present? %>
              <div class="card usercard">
                <%= image_tag l.image.url(:medium), class: "card-img-top img-responsive" %>
                  <div class="card-block">
                    <h4 class="card-title">$ <%= l.price %> <%= truncate(l.title, length: 10) %></h4>
                    <p class="card-text">Complete</p>
                    <%= link_to "More Info", l, class: "btn btn-primary" %>
                  </div>
              </div>
            <% elsif l.expiration < Time.now && !l.seller_id.present? %>
              <div class="card usercard">
                <%= image_tag l.image.url(:medium), class: "card-img-top img-responsive" %>
                  <div class="card-block">
                    <h4 class="card-title">$ <%= l.price %> <%= truncate(l.title, length: 10) %></h4>
                    <p class="card-text">Expired</p>
                    <%= link_to "More Info", l, class: "btn btn-primary" %>
                  </div>
              </div>
            <% end %>
          <% end %>
          <% @user.buyer_listings.order('created_at DESC').each do |l| %>
            <% if l.seller_id.present? %>
              <div class="card usercard">
                <%= image_tag l.image.url(:medium), class: "card-img-top img-responsive" %>
                  <div class="card-block">
                    <h4 class="card-title">$ <%= l.price %> <%= truncate(l.title, length: 10) %></h4>
                    <p class="card-text">Complete</p>
                    <%= link_to "More Info", l, class: "btn btn-primary" %>
                  </div>
              </div>
            <% elsif l.expiration < Time.now && (!l.seller_id.present?) %>
              <div class="card usercard">
                <%= image_tag l.image.url(:medium), class: "card-img-top img-responsive" %>
                  <div class="card-block">
                    <h4 class="card-title">$ <%= l.price %> <%= truncate(l.title, length: 10) %></h4>
                    <p class="card-text">Expired</p>
                    <%= link_to "More Info", l, class: "btn btn-primary" %>
                  </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="tab-pane" id="reviews" role="tabpanel">
      <% if !@user.seller_reviews.present? %>
        <h4>No reviews yet</h4>
      <% else %>
        <% @user.seller_reviews.each do |review| %>
          <%= review.title %><br />
          <%= review.description %><br />
          <%= link_to review.buyer.first_name + ' ' + review.buyer.last_name, review.buyer %><br />
          <% if user_signed_in? %>
            <% if @user.buyer_listings.where('seller_id = ?', current_user) != [] || @user.seller_listings.where('buyer_id = ?', current_user) != [] %>
              <%= link_to "Edit", edit_user_review_path(@user, review) %> | <%= link_to "Destroy", user_review_path(@user, review), data: { confirm: "Are you sure" }, method: :delete %><br />
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['google_maps_api_key'] %>&callback=initMap" async defer></script>
<script>
    $('.star-rating').raty({
        path: '',
        starHalf: "<%= asset_path("star-half.png") %>",
        starOff: "<%= asset_path("star-off.png") %>",
        starOn: "<%= asset_path("star-on.png") %>",
        readOnly: true,
        score: function () {
            return $(this).attr('data-score');
        }
    });
</script>
</div>
</div>
