<!DOCTYPE html>
<html>
  <head>
    <title>BuyerCentric</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%= render "layouts/header" %>
      <%= render "layouts/messages" %>
    <div class="container">
      <%= yield %>
      "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer iaculis lobortis dolor, nec pretium leo mollis ac. Ut ullamcorper, erat vitae mollis hendrerit, mi lacus vehicula arcu, non pellentesque nunc dui id nisl. Sed id varius odio, eu volutpat urna. Donec at leo orci. Fusce imperdiet enim sit amet placerat placerat. Praesent vitae convallis lorem, sed blandit sem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent dictum nisl enim, ut ornare elit lacinia eu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse pharetra, mi lobortis euismod gravida, libero quam cursus nisi, vitae auctor sapien risus venenatis dui. Praesent condimentum sagittis magna.

Proin maximus, ipsum et pulvinar imperdiet, dui orci suscipit risus, et elementum risus lorem quis lectus. Nulla efficitur lacus felis, nec auctor eros scelerisque nec. Pellentesque sodales justo eget dolor ornare cursus. Donec dolor tellus, aliquet vitae faucibus ac, lacinia eget nibh. Donec ac sapien at nunc dignissim ullamcorper. Maecenas in tellus leo. Nulla facilisi.

Vestibulum bibendum augue at arcu elementum porttitor. Proin lacinia est erat, ac pulvinar elit placerat at. Nam semper scelerisque orci, sed aliquam neque pulvinar in. Suspendisse potenti. Vestibulum ligula nibh, maximus id erat at, interdum pellentesque arcu. Praesent tincidunt sem vel orci interdum luctus. Duis fringilla leo enim, eget luctus velit viverra at. Integer ornare eleifend sem, eget dignissim nisi interdum feugiat. Integer eros ante, consectetur sit amet faucibus nec, semper ac urna. Donec mollis eleifend ultricies. Praesent porttitor augue non mauris luctus, eget egestas odio mattis. Praesent dignissim non urna ultrices volutpat.

Suspendisse erat turpis, aliquet quis fermentum vel, gravida ut diam. Vestibulum in ante tincidunt, placerat diam eget, mattis nunc. Donec varius sed est et finibus. Maecenas aliquet feugiat ligula, ut imperdiet diam imperdiet eu. Nunc vitae lorem vel eros mollis fermentum nec et lacus. Morbi ultrices tempor malesuada. Nam pharetra massa a libero molestie porttitor. In tempus lobortis mattis.

Nulla semper at nisl in elementum. Etiam ornare nisi ullamcorper augue euismod vehicula. Maecenas a lacus eu nibh hendrerit vestibulum. Suspendisse a leo rhoncus, auctor mi non, placerat quam. Nam pharetra sapien non condimentum aliquam. Integer nec tristique arcu. Sed ac blandit enim.

Proin id dignissim libero. Donec dictum condimentum enim ac tempus. Morbi in urna gravida, placerat enim et, condimentum mauris. Mauris gravida nulla at dignissim tincidunt. Mauris ullamcorper rhoncus magna at posuere. Phasellus in placerat erat. Proin quis turpis dignissim, dapibus metus vel, consectetur arcu. Sed mi ante, condimentum vitae tellus ac, efficitur porta urna. Sed rhoncus fermentum purus ac vulputate. Suspendisse convallis id massa ut malesuada. Phasellus nibh nisl, luctus sed aliquam eget, consequat gravida nisi. Quisque fringilla turpis ac dolor molestie, eget ullamcorper magna viverra. Aenean vehicula maximus libero, vitae egestas libero aliquam sit amet. Ut auctor rutrum pretium.

Pellentesque placerat non tortor in consequat. Nulla tempor, nisi commodo lacinia pretium, augue diam laoreet turpis, nec pulvinar libero augue ut leo. Mauris commodo semper consectetur. Phasellus consequat augue accumsan, hendrerit nisl vitae, convallis enim. Maecenas id luctus lacus. Nullam vitae gravida dui, id vulputate est. Suspendisse rutrum velit luctus arcu laoreet, et vulputate massa pellentesque. Ut molestie orci mauris, eget sodales ipsum pulvinar non. Integer vel justo sed purus vestibulum porttitor nec eu metus. Fusce ipsum ligula, tristique a semper id, pulvinar vitae tortor. Phasellus sed aliquet orci.

Fusce mauris lorem, luctus efficitur nibh eu, egestas ornare odio. Etiam tristique molestie neque, quis dictum erat finibus sit amet. Phasellus eu augue metus. Aenean id pretium dui. Phasellus faucibus dapibus ultricies. Aliquam ipsum metus, dapibus et mauris nec, maximus blandit orci. Nam aliquam porta posuere. Donec ut dolor at lorem tempor luctus sit amet et orci. Praesent diam urna, lobortis quis risus sit amet, ornare convallis velit. Proin tincidunt neque porttitor libero porta dignissim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam bibendum, justo at dapibus cursus, neque velit porttitor magna, id ultricies ante metus et elit. Curabitur sodales nec risus mollis rutrum.

Phasellus semper dui rhoncus, tincidunt lacus id, venenatis nunc. Quisque id tristique nunc. Phasellus placerat nibh et dolor malesuada varius eu eleifend nisi. Cras sed mauris molestie, lobortis purus in, condimentum dolor. Nunc posuere est ac maximus euismod. Donec a quam vitae mi egestas ullamcorper non eu velit. Nam rutrum sapien neque, et consectetur massa dictum id.

Curabitur quis congue turpis. Sed vel iaculis quam, in tempor justo. Quisque aliquet libero vitae bibendum malesuada. Aenean sit amet nulla enim. Sed pulvinar, ligula sit amet dapibus semper, ipsum dolor viverra leo, in mollis sem ante ut turpis. Maecenas aliquam lobortis varius. Mauris tristique, diam vel dignissim convallis, nibh est fringilla quam, ut imperdiet nunc dui sit amet arcu. Phasellus sed ultricies urna.
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
